
.album {
}

.album_title {
    color: #ff9000;
    font-size: 2.5em;
    margin-bottom: 40px;
    text-shadow: 4px 4px 2px #000;
}

.album_title_ru {
    display: inline-block;
}

.album_title_en {
    font-size: 0.9em;
    display: inline-block;
}

.album_date {
    color: #fff;
    font-size: 0.7em;
}

img.album_image {
    max-width: 100%;
    min-width: 400px;
    height: auto;
    width: auto;
    border-radius: 2px;
    border: solid 2px #ff9000;
}

div.album_description {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 1em;
}

.album_track {
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    padding: 8px;
}

.album_track:hover {
    color: #ff9000 !important;
}

.album_track:active {
    color: #fff !important;
}

.album_track_title {
    display: block;
    position: relative;
    top: 0;
    width: 80%;
    font-size: 1.5em;
}

.album_track_title_ru {
    display: inline-block;
}

.album_track_title_en {
    display: inline-block;
    font-size: 0.8em;
}

.album_track_description {
    margin-top: 8px;
    font-size: 1em;
    cursor: pointer;
    color: #444444;
}

.album_track_description:hover {
    color: #ffff00 !important;
}

.album_track_description:active {
    color: #ffffff !important;
}

.album_track_text {
    display: block;
    color: #ffffff !important;
}

.album_track_text_hide {
    display: none;
}

.album_track_buttons {
    display: inline-block;
}

.album_track_button {
    cursor: pointer;
    display: inline-block;
    right: 0;
    background-repeat: no-repeat;
    margin-left: 8px;
    margin-top: 4px;
    border-radius: 4px;
    border: solid 2px #fff;

    width: 54px;
    height: 54px;
    background-size: 54px 54px;
}

.gecko .album_track_button {
    width: 40px !important;
    height: 40px !important;
    background-size: 40px 40px !important;
}

.album_track_button:active {
    filter: none;
}

.album_track_button:hover {
    border: solid 2px #0090ff;
    filter: invert(90%);
}

.album_track_button_download {
    background-image: url('../img/button_download.png');
}

.album_track_button_tabs {
    background-image: url('../img/button_download_tabs.png');
}

.player_audio {
    width: 70%;
    position: relative;
    display: inline-block;
    background: #0f1627;

    border-radius: 4px;
    border: solid 2px #fff;
}

.player_audio:hover {
    border: solid 2px #ff9000;
}

.player_audio:active {
    border: solid 2px #fff;
}
