
.head_hide {
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.head {

    display: flex;
    flex-direction: row;

    background-color: #0f1627 !important;

    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.logo {

    padding: 0;
    margin: 0;

    display: block;

    width: 512px;
    height: 321px;

    background: url('../img/logo.png') no-repeat center center;

}

.logo_content {

    display: block;
    position: relative;
    height: 50%;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;

    text-shadow: 4px 4px 2px #000;
    font-size: 7vw;
    color: #ff9000 !important;

}
